@model ComputerRankExam.Areas.Member.Models.ChangePasswordQuestionViewMode
@{
    ViewBag.Title = "修改安全问题";
    Layout = null;
}

@using (Ajax.BeginForm("ChangePasswordQuestion", "AverageUser", new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" }))
{
    @Html.AntiForgeryToken()
    <div class="panel-header">
        修改安全问题
        <hr />
        @Html.ValidationSummary(true)
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="control-group">
                @Html.LabelFor(model => model.PasswordQuestion, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.PasswordQuestion)
                    @Html.ValidationMessageFor(model => model.PasswordQuestion)
                </div>

            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.PasswordAnswer, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.PasswordAnswer)
                    @Html.ValidationMessageFor(model => model.PasswordAnswer)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="修改" class="btn" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


