@model Sower.Model.T_LearnCard
@{
    Layout = null;
}

@using (Ajax.BeginForm("CardInfo", "Home", new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" }))
{
    <div class="panel-header">
        个人信息
        <hr />
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="control-group">
                @Html.LabelFor(model => model.Code, new { @class = "control-label" })
                <label class="control-label" style="text-align:left; padding-left:20px;">
                    @Html.DisplayFor(model => model.Code)
                </label>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.CardPrice, new { @class = "control-label" })
                <label class="control-label" style="text-align:left; padding-left:20px;">
                    @Html.DisplayFor(model => model.CardPrice) 元
                </label>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.TotalLicense, new { @class = "control-label" })
                <label class="control-label" style="text-align:left; padding-left:20px;">
                    @Html.DisplayFor(model => model.TotalLicense) 点
                </label>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.LeftLicense, new { @class = "control-label" })
                <label class="control-label" style="text-align:left; padding-left:20px;">
                    @Html.DisplayFor(model => model.LeftLicense) 点
                </label>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.LoginTimes, new { @class = "control-label" })
                <label class="control-label" style="text-align:left; padding-left:20px;">
                    @Html.DisplayFor(model => model.LoginTimes) 点
                </label>
            </div>
        </div>
    </div>
}