@model ComputerRankExam.Models.FindPasswordViewModel

@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("FindPassword", "AverageUser"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form">
        <h4>找回密码</h4>
        <hr />
        <dl>
            <dd>
                <div class="label">@Html.LabelFor(model => model.Email)：</div>
                <div class="ctrl">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </dd>
            <dd>
                <div class="label">验证码：</div>
                <div class="ctrl">
                    @Html.TextBoxFor(model => model.VerificationCode)
                    @Html.ValidationMessageFor(model => model.VerificationCode)
                </div>
            </dd>
            <dd>
                <div class="label">&nbsp;</div>
                <div class="ctrl">
                    <img id="verificationcode" title="点击刷新" src="@Url.Action("VerificationCode", "AverageUser")" style="cursor:pointer" />
                </div>
            </dd>
            <dd>
                <div class="label">&nbsp;</div>
                <div class="ctrl">
                    <button name="Submit" type="submit" style="border:0px;cursor: pointer;width:118px; height:32px;">
                        <img src="@Url.Content("~/Content/images/button/button_next.png")" />
                    </button>
                </div>
            </dd>
        </dl>
        <div class="clear"></div>
    </div>
}

<script type="text/javascript">
    $("#verificationcode").click(function () {
        $("#verificationcode").attr("src", "@Url.Action("VerificationCode")?" + new Date());
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}