@model ComputerRankExam.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "重置密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "AverageUser"))
{
    @Html.AntiForgeryToken()
    <div class="form">
        <h4>重置密码</h4>
        <hr />
        @Html.ValidationSummary(true)
        <dl>
            <dd>
                <div class="label">@Html.LabelFor(model => model.NewPassword)：</div>
                <div class="ctrl">
                    @Html.TextBoxFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </dd>
            <dd>
                <div class="label">@Html.LabelFor(model => model.ConfirmPassword)：</div>
                <div class="ctrl">
                    @Html.TextBoxFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </dd>
            <dd>
                <div class="label">&nbsp;</div>
                <div class="ctrl">
                    <button name="Submit" type="submit" style="border:0px;cursor: pointer;width:118px; height:32px;">
                        <img src="@Url.Content("~/Content/images/button/button_confirm.png")" />
                    </button>
                </div>
            </dd>
        </dl>
        <div class="clear"></div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}