@model ComputerRankExam.Areas.Member.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "修改密码";
    Layout = null;
}

@using (Ajax.BeginForm("ChangePassword", "LearnCard", new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" }))
{
    @Html.AntiForgeryToken()
    <div class="panel-header">
        修改密码
        <hr />
        @Html.ValidationSummary(true)
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="control-group">
                @Html.LabelFor(model => model.OriginalPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(model => model.OriginalPassword)
                    @Html.ValidationMessageFor(model => model.OriginalPassword)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn" value="修改" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


